{
    database => {
        dsn     => 'dbi:SQLite:dbname=qdb.db',
        options => { sqlite_unicode => 1, AutoCommit => 1, RaiseError => 1, },
        helper  => 'db'
    },

    # CHANGE THESE
    secrets => [ 'quote db...' ],
    password => 'foo bar baz',
}
