{
    # CHANGE THESE
    hypnotoad => {
        listen => [ 'http://127.0.0.1:80/', 'http://[::1]:80/', ],
        user   => 'qdb',
        group  => 'users',
    },

    title   => 'Some random quote database...',
    secrets => [ 'quote db...' ],
    admins  => {
            admin1 => 'password',
            admin2 => 'some other pass',
    },



    # No need to change these unless you want to...
    database => {
        dsn     => 'dbi:Pg:dbname=qdb',
#        username => 'qdb',
#        password => 'maybe you need a password for the database',
        options => { AutoCommit => 1, RaiseError => 1, },
    },
}
