{
    database => {
        dsn     => 'dbi:SQLite:dbname=qdb.db',
        options => { sqlite_unicode => 1, AutoCommit => 1, RaiseError => 1, },
        helper  => 'db'
    },

    # CHANGE THESE
    title   => 'Some random quote database...',
    secrets => [ 'quote db...' ],
    admins  => {
            admin1 => 'password',
            admin2 => 'some other pass',
    },
}
